@import "highlight.js/styles/github.css";
@import "./_normalize.css";
@import "./lib/ThemeSwitcher.css";

html[data-theme="light"] {
	--fg: rgb(0, 0, 0);
	--fg-muted: rgb(100, 100, 100);

	--bg: rgb(255, 255, 255);

	--accent: rgb(255, 107, 1);
	--accent-border: rgba(255, 107, 1, 0.8);

	--code-border: #000;
}

html[data-theme="dark"] {
	--fg: rgb(234, 237, 243);
	--fg-muted: rgb(175, 176, 178);

	--bg: rgb(30, 30, 30);

	--accent: rgb(255, 107, 1);
	--accent-border: rgba(255, 107, 1, 0.6);

	--code-fg: rgb(0, 0, 0);
	--code-bg: rgb(235, 235, 235);
	--code-border: #000;
}

body {
	color: var(--fg);
	background: var(--bg);
	font-family: system-ui, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.4rem;
}

p {
	margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.25rem 0 0.5rem;
	font-weight: 800;
	line-height: 1.2;
	color: var(--accent);
}

h1 {
	font-size: 2rem;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-decoration-skip-ink: auto;
}

a:has(:is(h1, h2, h3, h4, h5)) {
	display: block;
	max-width: max-content;
	text-decoration: none;
}

a:hover,
a:focus-visible {
	text-decoration: underline;
	color: var(--accent);
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container {
	max-width: 732px;
	margin: 0 auto;
	padding: 0 2rem;
}

.PageLayout {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"header header  header"
		"main   main    main";
}

.PageHeader {
	grid-area: header;
	margin-bottom: 1rem;
}

.PageHeader-content {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0 1rem;
	border-bottom: 1px solid var(--accent-border);
}

.PageHeader-title {
	font-weight: 300;
	text-decoration: none !important;
	font-size: 1.5rem;
}

.PageHeader-links {
	display: flex;
	gap: 1rem;
	color: var(--fg-muted);
}

@media screen and (max-width: 768px) {
	.PageHeader-title {
		font-size: 1.25rem;
	}

	.PageHeader-links {
		font-size: 0.85rem;
	}

	.theme-toggle {
		--size: 1.25rem;
		position: relative;
		top: 1px;
	}
}

.PageHeader-links a:not(:hover) {
	text-decoration: none;
}

.PageMain {
	grid-area: main;
	margin: 0.75rem 0 0;
}

.Archive-List {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 0;
	padding: 0 0 0 1rem;
	list-style: circle;
}

.Archive-Link {
	text-decoration: none;
}

.Code {
	padding: 1rem;
	color: var(--code-fg);
	background: var(--code-bg);
	border: 1px solid var(--code-border);
	overflow: auto;
}
