@import "./_normalize.css";

:root {
	--fg: rgb(234, 237, 243);
	--fg-muted: rgb(175, 176, 178);

	--bg: rgb(30, 30, 30);

	--accent: rgb(255, 107, 1);
	--accent-border: rgba(255, 107, 1, 0.6);
}

body {
	color: var(--fg);
	background: var(--bg);
	font-family: system-ui, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.4rem;
}

p {
	margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.25rem 0 0.5rem;
	font-weight: 800;
	line-height: 1.2;
	color: var(--accent);
}

h1 {
	font-size: 2rem;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-decoration-skip-ink: auto;
}

a:has(:is(h1, h2, h3, h4, h5)) {
	text-decoration: none;
}

a:hover,
a:focus-visible {
	text-decoration: underline;
	color: var(--accent);
}

.container {
	max-width: 732px;
	margin: 0 auto;
	padding: 0 2rem;
}

.PageLayout {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"header header  header"
		"main   main    main";
}

.PageHeader {
	grid-area: header;
	margin-bottom: 1rem;
}

.PageHeader-content {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0 1rem;
	border-bottom: 1px solid var(--accent-border);
}

.PageHeader-title {
	font-weight: 300;
	text-decoration: none !important;
	font-size: 1.5rem;
}

.PageHeader-links {
	display: flex;
	gap: 1rem;
	color: var(--fg-muted);
}

.PageHeader-links a:not(:hover) {
	text-decoration: none;
}

.PageMain {
	grid-area: main;
	margin: 0.75rem 0 0;
}

.Blog-list {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 0;
	padding: 0 0 0 1rem;
	list-style: circle;
}

.Blog-link {
	text-decoration: none;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
